<h1>Login</h1>


<% if(typeof message !== 'undefined') { %>
    <h4 style="color:red;">
        <%= message %>
    </h4>
<% } %>

<form action="" method="post">

    <input type="email" name="email"  placeholder="Enter Your Email"> <br><br>
    <input type="password" name="password"  placeholder="Enter Your Password"> <br><br>
    <input type="submit" value="login"> <br><br>

</form>


