<h1>Register Here</h1>

<form action="" method="post" enctype="multipart/form-data">

    <input type="text" name="name" placeholder="Enter Your Name" required> <br><br>
    <input type="email" name="email" placeholder="Enter Your Email" required> <br><br>
    <input type="file" name="image" required> <br><br>
    <input type="password" name="password" placeholder="Enter Your Password" required> <br><br>
    <input type="submit" value="Register"> <br><br>

</form>

<% if(typeof message !=='undefined' ){ %>
    <p style="color:green " ;>
        <%= message %>
    </p>
    <% } %>